<template name="userAvatar">
    <a class="member js-member ui-draggable ui-draggable-handle" title="{{member.profile.name.first}} {{member.profile.name.last}} ({{member.username}})" href="#" aria-label="{{member.profile.name.first}} {{member.profile.name.last}} ({{member.username}})"
    data-user-id="{{userId}}" data-member-type="{{memberType}}">
        <span class="initials">{{initials}}</span>
        <span class="member-presence-status active"></span>
    </a>
</template>

<template name="addMember">
    <button name="add-member-button" class="btn btn-fab btn-fab-mini btn-default" href="#" >
        <i class="ti ti-plus"></i>
    </button>
</template>

<template name="addMemberForm">
    <span class="twitter-typeahead form-group">
    <input class="typeahead form-control form-inline" data-source="getUsers" type="text" name="member-selector" id="memberSelector" />
    </span>
    <button name="new-member-form-close" class="btn btn-fab btn-fab-mini btn-default">
        <i class="ti ti-close" aria-hidden="true"></i>
    </button>
</template>