<template name="userAvatar">
    <a class="member js-member ui-draggable ui-draggable-handle" title="{{member.profile.name.first}} {{member.profile.name.last}} ({{member.username}})" href="#" aria-label="{{member.profile.name.first}} {{member.profile.name.last}} ({{member.username}})"
    data-user-id="{{userId}}" data-member-type="{{memberType}}">
        <span class="initials">{{initials}}</span>
        <span class="member-state {{presenceClass}}"></span>
    </a>
</template>

<template name="addMember">
    <button name="add-member-button" class="btn btn-icon btn-default" href="#" >
        <i class="ti-plus"></i>
    </button>
</template>

<template name="addMemberForm">
    <span class="twitter-typeahead form-group">
        <input class="typeahead form-control form-inline" data-source="getUsers" type="text" name="member-selector" id="memberSelector" />
        
        <button name="new-member-form-close" class="btn btn-fill btn-sm">
        <i class="ti-close"></i>
        </button>
    </span>
</template>