<template name="signup">
  <div class="row">
    <div class="panel col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <h4 class="page-header">Sign Up</h4>
      <form id="signup" class="signup">
        <div class="form-group label-floating is-empty">
          <label class="control-label" for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control">
        </div>
        <div class="form-group label-floating is-empty">
          <label class="control-label" for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control">
        </div>
        <div class="form-group label-floating is-empty">
          <div class="input-group username">
            <div class="input-group-addon">@</div>
            <label class="control-label" for="username">Username</label>
            <input type="text" class="form-control" name="username">
          </div>
        </div>
        <div class="form-group label-floating is-empty">
          <label class="control-label" for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control">
        </div>
        <div class="form-group label-floating is-empty">
          <label class="control-label" for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Sign Up">
        </div>
      </form>
      <p>Already have an account? <a href="{{pathFor 'login'}}">Log In</a>.</p>
    </div>
  </div>
</template>