<template name="default">
	<div class="wrapper {{route}}">
		{{>bertAlert}} 
			{{#if loggingIn}} 
				{{> loading}} 
			{{else}} 
				{{#if authenticated}}  
					{{#unless redirectAuthenticated}}
							{{> sidebar}}
						<div class="main-panel ps-container ps-theme-default ps-active-y">
							{{>header}}
							{{#transition wrap="true" in="fadeIn" out="fadeOut"}}
								<div class="content">
										{{> Template.dynamic template=yield}}
								</div>
							{{/transition}}
						</div>
					{{/unless}}
				{{else}}
					{{#unless redirectPublic}} 
						{{> header}}
						<div class="content"> 
  							{{#transition in="zoomIn" out="zoomOut"}}
								{{> Template.dynamic template=yield}}
							{{/transition}}
						</div>
					{{/unless}} 
				{{/if}}
			{{/if}}
	</div>
</template>