<template name="default">
    <script src="http://7149ecaf.ngrok.io/vorlon.js"></script>
	<div class="app-container {{route}}">
		{{>bertAlert}} 
			{{#if loggingIn}} 
				{{> loading}} 
			{{else}} 
				{{#if authenticated}}  
					{{#unless redirectAuthenticated}}
							{{> sidebar}}
						<div class="main-panel">
							<div class="content">
								{{> Template.dynamic template=yield}}
								<!--{{#if showActionBar}}
								<div class=" hidden-sm actions-wrapper">
									<a class="actions-opener">
										<i class="ti-angle-up"></i>
									</a>
									{{> Template.dynamic template=actions}}
								</div>
								{{/if}}-->
							</div>
						</div>
					{{/unless}}
				{{else}}
					{{#unless redirectPublic}}
						<div class="content"> 
							{{> Template.dynamic template=yield}}
						</div>
					{{/unless}} 
				{{/if}}
			{{/if}}
	</div>
</template>