<template name="calendar">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="card card-calendar">
                {{#unless currentUser}} {{> warning}} {{/unless}} {{> fcalendar}}
            </div>
        </div>
    </div>
</template>

<template name="warning">

    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Warning!</h4>
        <p>You need to sign in to access every functionality.</p>
    </div>
</template>

<template name="fcalendar">
    <div id="fullcalendar" class="fc"></div>
</template>

