<template name="home">    
    <div class="title-wrapper">
        <h3>Nest Square</h3>
    </div>
    <div class="content-wrapper">
        <div class="view view-dashboard">
            {{#if isReady}}
            <div class="row">
                <div class="col-xs-12">
                    <h4>MY BOARDS</h4>
                </div>
            </div>
            <div class="row">
                {{#each kanboards}}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card" data-color="blue">
                        <div class="header">
                            <div class="title">{{title}}</div>
                        </div>
                        <div class="content">
                            <ul>
                                {{#each lists}}
                                <p><small><b></b></small></p>
                                <div class="progress-group">
                                    <span class="progress-text"><b>{{title}}:</b> affected tasks</span>
                                    <span class="progress-number"><b>{{affectedTasks}}</b>/{{totalTasks}}</span>
                                </div>
                                    <!--<li><b>{{title}}: </b><span class="number">{{affectedTasks}}</span> tasks assigned on <span class="number">{{totalTasks}}</span></li>-->
                                {{else}}
                                    <li><b>There are no tasks in this board.</b></li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="footer text-right">
                            <a class="btn" href="{{url}}">Go !</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4>MY CALENDARS</h4>
                </div>
            </div>
            <div class="row">
                {{#each calendars}}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card" data-color="green">
                        <div class="header">
                            <div class="title">{{title}}</div>
                        </div>
                        <div class="content">
                            <p><span class="number">{{todayEvents}}</span> remaining events today </p>
                            <p><span class="number">{{totalEvents}}</span> in total</p>
                        </div>
                        <div class="footer text-right">
                            <a class="btn" href="{{url}}">Go !</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            
            {{else}}
                <div class="loading"></div>
            {{/if}}
        </div>
    </div>
</template>