<template name="addListForm">
    <div id="addListForm">
        <div class="form-group label-floating is-empty">
            <div class="input-group">
                <label class="control-label">
                    Create a new list
                </label>
                <input class="form-control" type="text" name="new-list-name" id="newListName" />
                <span class="input-group-btn">
                    <button name="new-list-btn" class="btn btn-fab btn-fab-mini btn-primary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</template>