<template name="kanboard">
    <div class="title-wrapper">
        <h3>{{name}}</h3>
        {{#unless isDirect}}
            {{#unless isPublic}}
                <div class="pull-right">
                    {{> members kanboard}}
                </div>
            {{/unless}}
        {{/unless}}
    </div>
    <div class="content-wrapper">
        <div class="view view-kanboard">
            <div class="kanboard">
                <div class="kanboard-canvas">
                    <div class="kanlists-container">
                        {{> kantrash}}
                        {{#each lists}}
                            {{>kanlist}}
                        {{/each}}
                        {{#if canUserEdit}}
                            {{>addListForm}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="trash-container">
        <i class="ti ti-trash"></i>
    </div>-->
</template>