<template name="kanboard">
    <div class="title-wrapper">
        <h3>{{name}}</h3>
        {{#unless isDirect}}
            {{> kanboardMembers kanboard}}
        {{/unless}}
    </div>
    <div class="content-wrapper">
        <div class="card-kanboard">
            <div class="kanboard">
                <div class="kanboard-canvas">
                    <div class="kanlists-container">
                        {{#each lists}}
                            {{>kanlist}}
                        {{/each}}
                        {{#if canUserEdit}}
                            {{>addListForm}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="kanboardMembers">
    <div class="pull-right members">
        {{#each this.members}}
            {{> userAvatar }}
        {{/each}}
    </div>
</template>