<template name="kanboard">
    <div class="title-wrapper">
        <h3>{{name}}</h3>
    </div>
    <div class="content-wrapper">
        <div class="card-kanboard">
            <div class="kanboard">
                <div class="kanboard-canvas">
                    <div class="kanlists-container">
                        {{#each lists}}
                            {{>kanlist}}
                        {{/each}}
                        {{>addListForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>