<template name="kanlist">
    <div id="kanlist{{_id}}" class="kanlist">
        <div class="kanlist-header">
            {{title}}
            <div class="list-header-menu pull-right">
                <span class="dropdown">
                    <a class="list-header-menu-icon dropdown-toggle"  data-target="#" data-toggle="dropdown" href="#">
                        <i class="ti-more"></i>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="removeListBtn" data-list-id="{{_id}}" href="#">Remove list</a></li>
                    </ul>
                </span>
                &nbsp;
                <a class="list-header-grab-icon"  data-target="#">
                    <i class="ti-split-h"></i>
                    <div class="ripple-container"></div>
                </a>
            </div>
            
        </div>
        <div class="kanlist-body">
            <div class="tasks-container clearfix">
                <div class="new-task">
                    {{> newTaskButton}}
                </div>
                {{#each tasks}}
                    {{> kantask}}
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="kantrash">
    <div id="kantrash" class="trash-container">
        <div class="text-center">
            <i class="ti ti-trash"></i>
        </div>
    </div>
</template>