<template name="kantask">
    <a class="kantask-wrapper">
        <div class="kantask well infobox">
            <div class="kantask-labels pull-right"></div>
            <div class="kantask-title">{{title}}</div>
            <div class="kantask-members">{{>smallMembers this}}</div>
        </div>
    </a>
</template>

<template name="newTaskButton">
    <div class="kantask-wrapper new-task text-center">
        <button name="new-task-button" class="btn btn-icon btn-primary createTaskButton">
            <i class="ti ti-plus"></i>
        </button>
    </div>
</template>

<template name="newTaskForm">
    <div class="kantask-wrapper new-task">
        <div class="kantask well infobox">
            <div>
                <button name="cancel-new-task-btn" type="button" class="close">×</button>
            </div>
            <div class="form-group label-floating is-empty">
                <div class="input-group">
                    <label class="control-label">
                        Title
                    </label>
                    <input class="form-control" type="text" name="new-task-name" id="newListName" />
                    <span class="input-group-btn">
                        <button name="save-new-task-btn" class="btn btn-icon btn-primary">
                            <i class="ti ti-save" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>