@import "variables";
.conversation {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-top: 1px solid #eee;
    .message-input {
        position: fixed;
        height: 100px;
        background: #ffffff;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5px;
        border-top: 1px solid #eee;
    }
    #messages {
        display: flex;
        overflow: auto;
        height: calc(100% - 100px);
    }
    .messages-list {
        width: 100%;
        max-height: 100%;
        align-self: flex-end;
        opacity: 1;
        &.loading-list {
            opacity: 0;
        }
    }
    .messages-list .message:last-child {
        margin-bottom: 10px;
    }
    .message {
        font-size: 14px;
        padding: 2px 10px;
        //background-color: $background;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -ms-transition: all 1s;
        transition: all 1s;
        &.unread {
            border-left: solid 5px $yellow-bg-font-color;
            background-color: lighten($yellow-bg-color, 20);
        }
    }
    .message:hover {
        background: transparentize($hover-link-font-color, 0.5) !important;
    }
    .message header h4 {
        font-size: 14px;
    }
    .message header h4 span {
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
        font-weight: normal;
        color: #888;
    }
    .message>*:first-child,
    .message>header>*:first-child {
        margin: 0px;
    }
    .message>*:last-child,
    .message>.body>*:last-child {
        margin-bottom: 0px;
    }
}

blockquote.help-quote {
    padding: 0;
    font-size: small;
    display: inline;
}