// .typeahead {
.twitter-typeahead {
    padding-top: 0;
    height: 35px;
    .typeahead {
        height: 35px;
        max-height: 35px;
        max-width: 120px;
    }
}

.tt-suggestion {
    margin: 5px 10px;
    cursor: pointer;
}