@import 'variables';
.view-kanboard {
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    background-color: rgba(153, 153, 153, 0.1);
    height: 100%;
    .kanboard {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        .kanboard-canvas {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            -webkit-transition: margin 0.1s;
            -moz-transition: margin 0.1s;
            -o-transition: margin 0.1s;
            -ms-transition: margin 0.1s;
            transition: margin 0.1s;
            .kanlists-container {
                -webkit-box-align: start;
                -moz-box-align: start;
                -o-box-align: start;
                -ms-flex-align: start;
                -webkit-align-items: flex-start;
                align-items: flex-start;
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: box;
                display: flex;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                -o-box-orient: horizontal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                margin: 0;
                padding: 0 40px 5px 0;
                overflow-x: auto;
                overflow-y: hidden;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                .kanlist {
                    background-color: white;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: box;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    -o-box-orient: vertical;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-flex: 1;
                    -moz-box-flex: 1;
                    -o-box-flex: 1;
                    box-flex: 1;
                    -webkit-flex: 0 0 $listWidth;
                    -ms-flex: 0 0 $listWidth;
                    flex: 0 0 $listWidth;
                    position: relative;
                    height: 100%;
                    border-right: 1px solid #ccc;
                    padding: 0;
                    float: left;
                    .kanlist-header {
                        -webkit-box-flex: 1;
                        -moz-box-flex: 1;
                        -o-box-flex: 1;
                        box-flex: 1;
                        -webkit-flex: 0 0 auto;
                        -ms-flex: 0 0 auto;
                        flex: 0 0 auto;
                        margin: 20px 12px 4px;
                        position: relative;
                        min-height: 20px;
                    }
                    .kanlist-body {
                        -webkit-box-flex: 1;
                        -moz-box-flex: 1;
                        -o-box-flex: 1;
                        box-flex: 1;
                        -webkit-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        display: -webkit-box;
                        display: -moz-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: box;
                        display: flex;
                        overflow-y: auto;
                        padding: 5px;
                        position: relative;
                        .tasks-container {
                            -webkit-box-flex: 1;
                            -moz-box-flex: 1;
                            -o-box-flex: 1;
                            box-flex: 1;
                            -webkit-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            width: 100%;
                            button[name="new-task-button"] {
                                width: 100%;
                                background-color: rgba(153, 153, 153, 0.2);
                            }
                            .kantask-wrapper {
                                cursor: pointer;
                                position: relative;
                                display: -webkit-box;
                                display: -moz-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: box;
                                display: flex;
                                -webkit-box-align: center;
                                -moz-box-align: center;
                                -o-box-align: center;
                                -ms-flex-align: center;
                                -webkit-align-items: center;
                                align-items: center;
                                left: 0;
                                -webkit-transition: all 0.2s;
                                -moz-transition: all 0.2s;
                                -o-transition: all 0.2s;
                                -ms-transition: all 0.2s;
                                transition: all 0.2s;
                                &.new-task {
                                    min-height: 30px;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }
                                &.active {
                                    left: 5px;
                                    -webkit-transition: all 0.2s;
                                    -moz-transition: all 0.2s;
                                    -o-transition: all 0.2s;
                                    -ms-transition: all 0.2s;
                                    transition: all 0.2s;
                                    .kantask {
                                        border-style: dashed;
                                        border-color: $active-link-font-color;
                                        background-color: rgba(153, 153, 153, 0.6);
                                        color: $active-link-font-color;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.kantask {
    border-left: 4px solid rgba(153, 153, 153, 0.2);
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: $maincolor;
    overflow: hidden;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
    background: rgba(153, 153, 153, 0.2);
    min-height: 80px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding: 10px;
    opacity: 0.7;
    .kantask-grab-icon {
        float:right;
    }
    .kantask-members {
        position: absolute;
        bottom: 0;
        right: 0;
        .member {
            height: 20px;
            width: 20px;
            .initials {
                font-size: 10px;
                margin: 2px auto;
            }
            .member-state {
                width: 6px;
                height: 6px;
            }
        }
    }
}

#addListForm {
    min-width: $listWidth;
    padding: 0 10px;
    width: $listWidth;
}