$red: #F44336;
$blue: #1B9EDB;
$green: #75BA50;
$purple: #DD6699;
$red-bg-color: #DA5347;
$orange-bg-color: #ff8f5e;
$orange-bg-font-color: #772510;
$yellow-bg-color: #ffe082; //#ffd54f;
$yellow-bg-font-color: #ffa900; //#ff8f00;
$brown-bg-color: #d6c1ab;
$brown-bg-font-color:#75442e;
$green-bg-color: #d5e5a3;
$green-bg-font-color: #60773d;
$blue-bg-color: #b8d8d8;
$blue-bg-font-color: #506568;
$background: #f4f3ef;
$maincolor: #66615b;
$listWidth: 270px;