$red: #EB5E28;
$blue: #68B3C8;
$green: #7AC29A;
$orange: #F3BB45;
$purple: #DD6699;
$bluegray: #5e8283;
$red-bg-color: #DA5347;
$orange-bg-color: #ff8f5e;
$orange-bg-font-color: #772510;
$yellow-bg-color: #ffe082; //#ffd54f;
$yellow-bg-font-color: #ffa900; //#ff8f00;
$brown-bg-color: #d6c1ab;
$brown-bg-font-color:#75442e;
$green-bg-color: #d5e5a3;
$green-bg-font-color: #60773d;
$blue-bg-color: #b8d8d8;
$blue-bg-font-color: #506568;
$maincolor: #373a47;
$background: lighten($maincolor, 50); //#f4f3ef;
$background2: #ffffff;
$main-font-color: #b8b7ad;
$second-font-color: #c94e50;
$active-link-font-color: #c94e50; //#7A9E9F
$listWidth: 270px;
$primary: $bluegray;
$info: $blue;
$success: $green;
$warning: $orange;
$danger: $red;
$title-wrapper-height: 60px;
$content-wrapper-height: calc(100% - 60px);
$sidebar-width: 250px;